# vim:set expandtab shiftwidth=4 filetype=editorconfig:
# SPDX-License-Identifier: GPL-3.0-only

#
#
# ~chewygumxx/dotfiles.git
# ::: :/.editorconfig
#
#

root = true

# ----------
# All files
# ----------
[*]

charset = utf-8

indent_size = 4
indent_style = space
trim_trailing_whitespace = true

end_of_line = lf
insert_final_newline = true

# ---------
# Markdown
# ---------
[*.md]
indent_size = 2
