# vim:set expandtab shiftwidth=4 filetype=gitattributes:
# SPDX-License-Identifier: GPL-3.0-only

#
#
# ~chewygumxx/zsh-config.git
# ::: :/.gitattributes
#
#

* text=auto eol=lf


# ---------------------
# Sync Header Metadata
# ---------------------

/LICENSE    -sync-header-metadata
*.json      -sync-header-metadata
